.c1 {
  background: rgb(151, 77, 77);
  color: #fff;
}
.c2 {
  color: aqua;
}
.c3 {
  background: whitesmoke;
  color: black;
}
.c4 {
  background: rgb(212, 40, 68);
  color: #fff;
}
.c5 {
  background: rgb(10, 96, 135);
  color: antiquewhite;
}
table{
  width: 500px;
  background: rgb(159, 77, 77);
  color: #fff;
  border: 1px solid #fff;
  tr{
    th{
      border: 1px solid;
      padding: 20px;
    }
  }
}
